# Blokada plików konfiguracyjnych zawierających prawdziwe hasła
web-server/config.php

# Pliki systemowe i logi Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Pliki systemowe Windows/OS
Thumbs.db
.DS_Store
